{% extends "admin/include/include.twig" %}

{% block body %}

    <div class="container theme-showcase" role="main">
        <!-- Szary Panel -->
        <div class="jumbotron">
            <h2>Zamówienie</h2> <!--do wladowania numer produktu -->
        </div>
        <form method="post" action ="{{ base_url() }}admin/order/order_products">

            {% autoescape %}
                {{ validation|raw }}
            {% endautoescape %}

            <div class="page-header">
                <div class="row">
                    <div class="col-sm-4"><h3>Numer:</h3></div>
                    <div class="col-sm-4"><h3>Wybierz Dostawcę:</h3></div>
                    <div class="col-sm-4"><h3>Nazwa dokumentu:</h3></div>
                </div>
            </div>

            <div class="page-header">
                <div class="row">
                    <div class="col-sm-4"><input type="text" class="form-control" name="nr_docum" style="width: 100px"></div>
                    <div class="col-sm-4">
                        <select class="form-control" name="vend_name" style="width: 150px"> <!--tab MWYM pole unit_structure -->

                            {% for dostawca in dost %}
                                <option value="{{ dostawca.vend_name }}">{{ dostawca.vend_name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-sm-4"><input type="text" class="form-control" name="docum_desc" style="width:  200px"></div>
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Numer:</th>
                    <th>Nazwa:</th>
                    <th>Nr mat:</th>
                    <th>Stan w mag.</th>
                    <th>Ilość do zamówienia:<th>
                </tr>
                </thead>
                <tbody>
                {% for indk in zam %}
                    <tr>
                        <td width=10%>{{ loop.index }}</td>
                        <td width=40%>{{ indk.name_short }}</td>
                        <td width=20%>{{ indk.nr_mat}}</td>
                        <td width=10%>{{ indk.mat_amount }}</td>
                        <td width=10%><input type="text" class="form-control" id="" name="docum_value" ></td> <!-- tab.
                    </td> <!-- Przjscie do wyswietlenia produktu z danego numeru -->
                    </tr>

                {% endfor %}
                </tbody>
            </table>

            <button type="submit" class="btn btn-lg btn-default btn-end">Wyślij</button>
        </form>
        <nav aria-label="Page navigation example">
        {{ links|raw }}
        </nav>
{#        <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">{{ links|raw }}</li>
        </ul>
        </nav>#}

    </div>
{% endblock %}

