{% extends "admin/include/include.twig" %}

{% block body %}

    <div class="container theme-showcase" role="main">
        <!-- Szary Panel -->
        <div class="jumbotron">
            <h2>Podgląd dokumentu</h2> <!--do wladowania numer produktu -->
        </div>


            {% autoescape %}
                {{ validation|raw }}
            {% endautoescape %}

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Numer:</th>
                    <th>Nazwa:</th>
                    <th>Nr mat:</th>
                    <th>Ilość:</th>
                </tr>
                </thead>
                <tbody>
                {% for indk in zam %}
                    <tr>
                        <td width=10%>{{ loop.index }}</td>
                        <td width=40%>{{ indk.name_short }}</td>
                        <td width=20%>{{ indk.nr_mat}}</td>
                        <td width=10%>{{ indk.docum_value }}</td>
                    </td> <!-- Przjscie do wyswietlenia produktu z danego numeru -->
                    </tr>

                {% endfor %}
                </tbody>
            </table>


        <nav aria-label="Page navigation example">
        {{ links|raw }}
        </nav>
{#        <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">{{ links|raw }}</li>
        </ul>
        </nav>#}

    </div>
{% endblock %}

