{% extends "admin/include/include.twig" %}
{% block add %}


    <br/>
    <div class="container theme-showcase" role="main">

        <div class="jumbotron">
            <h2>Wyswietlanie półek</h2>
        </div>


        <table class="table table-hover">
            <thead>
            <tr>
                <th>Numer:</th>
                <th>Regał:</th>
                <th>Numer półki:</th>
                <th>Miejsce magazynowe:</th>
                <th>Wysokość:</th>
                <th>Szerokość:</th>
                <th>Długość:</th>
                <th>Objętość:</th>

                <th><th>
                <th><th>
            </tr>
            </thead>
            <tbody>
            {% for STOR_SIZE in views %}
                <tr>
                    <td width=10%>{{ loop.index }}</td>
                    <td width=10%>{{ STOR_SIZE.shel_result}}</td>
                    <td width=10%>{{ STOR_SIZE.stor_shelve }}</td>
                    <td width=20%>{{ STOR_SIZE.stor_result}}</td>
                    <td width=10%>{{ STOR_SIZE.stor_height}}</td>
                    <td width=10%>{{ STOR_SIZE.stor_width_shel }}</td>
                    <td width=10%>{{ STOR_SIZE.stor_length }}</td>
                    <td width=10%>{{ STOR_SIZE.stor_capacity}}</td>


                    <td width=20%>
                        {% if check_group(['admin','moderator']) %}
                            <a href="{{ base_url() }}admin/rack/edit_rack/{{ STOR_SHELVES.id_stor_shelve }}"><button type="button" class="btn btn-default">Edytuj</button></a>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ validation|raw }}
        <nav aria-label="Page navigation example">
            {{ links|raw }}
        </nav>

        <br/>

        <form method="post" action ="{{ base_url() }}admin/magazine/">
            <button type="submit" class="btn btn-lg btn-default " >Wróć</button>
        </form>

        <br/>


    </div>

{% endblock %}