{% extends "admin/include/include.twig" %}
{% block add %}


<div style="margin-top: 20px"></div>

<div class="container">

    {% if validation is empty %}

    {% else %}
        <div class="alert alert-success">
            <strong>
                {{ validation|raw }}
            </strong>
        </div>
    {% endif %}


<h1>Edytuj użytkownika</h1>

<form class="add_user" action="{{ base_url() }}admin/user/edit_user/{{ user.id }}" method="POST" id="add_user">

    <div class="form-group">
        <label for="Login">Imię i nazwisko</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Podaj Login...." value="{{ user.username }}">
    </div>
    <div class="form-group">
        <label for="Password">Hasło</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Podaj hasło...">
    </div>
    <div class="form-group">
        <label for="retry_password">Powtórz hasło</label>
        <input type="password" class="form-control" id="password_retry" name="password_retry" placeholder="Powtórz hasło...">
    </div>
    <div class="form-group">
        <label for="emial">Adres e-mail</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Podaj email..." value="{{ user.email }}">
    </div>
    <div class="form-group">
        <label for="user_group">Grupa użytkownika</label>
        <select class="form-control" name="group">
            <option value="0">-</option>
            {% for groups in group %}
                <option value="{{ groups.id }}" {% if group_id == groups.id %} selected="selected" {% endif %}>{{ groups.group_name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-default" id="add_user_button">Edytuj użytkownika</button>

</form>

</div>

{% endblock %}