<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Moduł produktowy ASAK</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ base_url() }}/asset/css/bootstrap.css" crossorigin="anonymous">
    <!-- nasza nakładka CSS -->
    <link rel="stylesheet" href="{{ base_url() }}/asset/css/theme.css" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{{ base_url() }}/asset/js/add_product.js"></script>
    <body>
    <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">ASAK</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="admin">Pulpit</a></li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produkty <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ base_url() }}admin/product/add_product">Dodanie produktu - pusty formularz</a></li>
                        <li><a href="{{ base_url() }}admin/product/add_product_ref">Dodanie produktu - referencja</a></li>
                        <li><a href="{{ base_url() }}application/views/admin/product/edit_product">Edycja produktu</a></li>
                        <li><a href="#">Wycofanie produktu</a></li>
                        <li><a href="#">Wyświetlenie produktu</a></li>
                        <li><a href="{{ base_url() }}admin/product/index">Lista produktów</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logistyka<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Magazyn</li>
                        <li><a href="#">Geografia magazynu</a></li>
                        <li class="dropdown-header">Zamówienia</li>
                        <li><a href="#">Tworzenie</a></li>
                        <li><a href="#">Edycja</a></li>
                        <li><a href="#">Podgląd</a></li>
                        <li class="dropdown-header">WZ</li>
                        <li><a href="#">Tworzenie</a></li>
                        <li><a href="#">Edycja</a></li>
                        <li><a href="#">Podgląd</a></li>
                    </ul>
                </li>
                <li><a href="#Raporty">Raporty</a></li>
                <li><a href="#kontakt">Kontakt</a></li>
                <li><a href="#kontakt">FAQ</a></li>
                   {% if logged_in() == 0 %}
                <li><a href="{{ base_url() }}account/login">Zaloguj</a></li>
                   {% else %}
                 <li><a href="{{ base_url() }}account/logout">Wyloguj</a></li>
                  {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


{% block body %}{% endblock %}

{% block add %}{% endblock %}

{% block dashboard %}{% endblock %}




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="{{ base_url() }}/asset/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="ie10-viewport-bug-workaround.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>
