{% extends "admin/include/include.twig" %}
{% block add %}


<br/>
    <div class="container theme-showcase" role="main">

        <div class="jumbotron">
            <h2>Wyswietlanie magazynów</h2> <!--do wladowania numer produktu -->
        </div>

        {% autoescape %}
            {{ validation|raw }}
        {% endautoescape %}

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Numer:</th>
                <th>Oznaczenie Magazynu:</th>
                <th>Dluga nazwa:</th>
                <th><th>
                <th><th>
            </tr>
            </thead>
            <tbody>
            {% for STORAGE in views %}
                <tr>
                    <td width=10%>{{ loop.index }}</td>
                    <td width=20%>{{ STORAGE.load_group }}</td>
                    <td width=50%>{{ STORAGE.load_group_descr}}</td>
                    <td width=10%>
                        <a href="{{ base_url() }}admin/product/show/{{ indk.nr_mat }}"><button type="button" class="btn btn-default">Przejdź</button></a>
                    </td>
                    <td>
                        {% if check_group(['admin','moderator']) %}
                        <a href="{{ base_url() }}admin/product/edit_product/{{ indk.nr_mat }}"><button type="button" class="btn btn-warning">Edytuj</button></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            {{ links|raw }}
        </nav>



    </div>

{% endblock %}