{% extends "admin/include/include.twig" %}

{% block add %}


    <div class="container theme-showcase" role="main"><br/>
        <div class="jumbotron">
            <h2>Dodawnie magazynu</h2>
        </div>
            <form method="post" action ="{{ base_url() }}admin/magazine/add_magazine">


                            <div class="row">
                                <div class="col-md-6" style="border: 1px solid lightgrey">
                                <font color="#808080">Pola obowiązkowe</font>
                            <br/><br/>
                        <p>
                            <label for="">Magazyn</label>
                            <input type="text" name="magazine" class="form-control" value="{{ post_2 }}" placeholder="Skrót magazynu (np: MG)">
                        </p>
                        <p>
                            <label for="">Pełna nazwa magazynu</label>
                            <input type="text" class="form-control" name="NameOfMagazin" value="{{ post_1 }}" placeholder="Magazyn Główny">
                        </p>
                        </div>



                        <div class="col-md-6" style="border: 1px solid lightgrey">

                                <font color="#808080">Pola opcjonalne</font>
                            <br/><br/>

                            <p>
                                <label for ="">Ilość regałów do dodania</label>
                                <input type="text" class="form-control" name="countRack" value="{{ post_3 }}" placeholder="0">
                            </p>
                            <p>
                                <label for ="">Maksymalna wysokość regałów [m]</label>
                                <input type="text" class="form-control" name="highRack" value="{{ post_4 }}" placeholder="0">
                            </p>
                        </div>
                    </div>
                <br/>


                <button type="submit" class="btn btn-lg btn-default " >Dodaj</button>


            </form>

            <br/>

            <form method="post" action ="{{ base_url() }}admin/magazine/">
                <button type="submit" class="btn btn-lg btn-default " >Wróć</button>
            </form>

            <br/>

            {{ validation|raw }}<br/>

    </div>



{% endblock %}