{% extends "admin/include/include.twig" %}

{% block add %}


    <div class="container theme-showcase" role="main"><br/>
        <div class="jumbotron">
            <h2>Dodawnie magazynu</h2>
        </div>
        <section>
            <form method="post" action ="{{ base_url() }}admin/magazine/add_magazine">

                <p>
                    <label for="">Magazyn</label>
                    <input type="text" name="magazine" value="{{ post_2 }}" placeholder="Skrót magazynu (np: MG)">
                </p>
                <p>
                    <label for="">Pełna nazwa magazynu</label>
                    <input type="text" name="NameOfMagazin" value="{{ post_1 }}" placeholder="Magazyn Główny">
                </p>

                <button type="submit" class="btn btn-lg btn-default " >Dodaj</button>


            </form>

            <br/>

            <form method="post" action ="{{ base_url() }}admin/magazine/">
                <button type="submit" class="btn btn-lg btn-default " >Wróć</button>
            </form>

            <br/>

            {{ validation|raw }}<br/>
        </section>



    </div>

{% endblock %}