{% extends "admin/include/include.twig" %}

{% block add %}


    <div class="container theme-showcase" role="main"><br/>
        <div class="jumbotron">
            <h2>Edycja magazynu</h2>
        </div>
        <section>

            <form method="post" action ="{{ base_url() }}admin/magazine/save_magazine/{{storage.id_storage|trim(" ","right")}}">

            <p>
                    <label for="">Magazyn</label>
                    <input type="text" class="form-control" name="magazine" value="{{storage.load_group|trim(" ","right")}}">
                </p>
                <br/>
                <p>
                    <label for="">Pełna nazwa magazynu</label>
                    <input type="text" class="form-control" name="NameOfMagazin" value="{{storage.load_group_descr|trim(" ","right")}}">
                </p>
            <tr>
                <td>
                    <button type="submit" class="btn btn-lg btn-default " >Zapisz</button>
                </td>
            </form>
                <br/>
                <td>
            <form method="post" action ="{{ base_url() }}admin/magazine/view_magazine">
                <button type="submit" class="btn btn-lg btn-default " >Zaniechaj</button>
            </form>
                </td>
            </tr>
            <br/>

            {{ validation|raw }}<br/>
        </section>

    </div>

{% endblock %}