{% extends "admin/include/include.twig" %}
{% block add %}


    <div class="container theme-showcase" role="main">
    <!-- Szary Panel -->
    <div class="jumbotron">
        <h2>Dodanie produktu</h2>
    </div>

    {% autoescape %}
        {{ validation|raw }}
    {% endautoescape %}
<form method="POST" action="{{ base_url() }}admin/product/add_product" enctype="multipart/form-data">
    <section id="1">
        <!-- Progressbar -->
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="sr-only">20% Complete</span></div>
        </div>

        <!-- Nazwa towaru -->
        <div class="form-group">
            <label for="name">Wprowadź nazwę towaru:</label>
            <input type="text" class="form-control" id="name" name="name_short" value="{{ post.name_short|raw }}"> <!-- check z pozycjami mat_nazwk z tabeli NAZW -->
        </div>

        <!-- Grupa towarowa -->
        <div class="form-group">
            <label for="gr_tow">Wprowadz grupę towarową:</label>
            <input type="text" class="form-control" id="gr_tow" name="prod_hier" value="{{ post.prod_hier }}"> <!-- wybór z listy prod_hier z tabeli GRTW-->
        </div>
        <div class="form-group">
            <label for="gr_tow">Opis grupy towarowej:</label>
            <input type="text" class="form-control" id="gr_tow_desc" name="prod_descr" readonly value="{{ post.prod_descr }}"> <!-- wybór z listy prod_hier z tabeli GRTW-->
        </div>
        <!-- Nazwa marketingowa rozwinięta -->
        <div class="form-group">
            <label for="name_mark">Nazwa marketingowa:</label>
            <textarea class="form-control" rows="5" id="name_mark" name="name_long">{{ post.name_long }}</textarea> <!--ladowanie do pola mat_nazwd tabela NAZW -->
        </div>
        <button type="button" class="btn btn-lg btn-default btn-forw" >Dalej</button>
    </section>

    <section id="2">
        <!-- Progressbar -->
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="sr-only">40% Complete</span></div>
        </div>
        <div class="row">
            <div class="page-header">
                <h2>Struktura</h2>
            </div>
            <div class="col-lg-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Rodzaj:</th>
                        <th>Ilość:</th>
                        <th>Waga ne:</th>
                        <th>Waga br:</th>
                        <th>Jedn. Wag:</th>
                        <th>Dł:</th>
                        <th>Szer:</th>
                        <th>Wys:</th>
                        <th>Jedn. Wym:</th>
                        <th>Obj:</th>
                        <th>Obj. jedn:</th>
                        <th>Kod EAN:</th>
                    </tr>
                    </thead>
                    <tbody class="section_2">
                    <tr class="SZT">
                        <td width="8%"><input type="text" class="form-control" name="unit_structure[]" id="unit_structure" value="SZT"></td> <!--tab MWYM pole unit_structure -->
                        <td width="8%"><input type="text" class="form-control" id="value_struct" name="value_struct[]" value="1" readonly></td>
                        <td width="9%"><input type="text" class="form-control" id="weight_net" name="weight_net[]"></td>
                        <td width="9%"><input type="text" class="form-control" id="weight_gross" name="weight_gross[]"></td>
                        <td width="10%"><select class="form-control" id="sel1" name="unit_weight[]"> <!--select trzeba zaczytać dane z tab JEDN z value z jedn_wag="X"-->
                                {%  for unit in unit_weight %}
                                <option value="{{ unit.value }}">{{ unit.value }}</option>
                                {% endfor %}
                            </select></td>
                        <td width="8%"><input type="text" class="form-control" id="value_length" name="value_length[]"></td>
                        <td width="8%"><input type="text" class="form-control" id="value_width" name="value_width[]"></td>
                        <td width="8%"><input type="text" class="form-control" id="value_height" name="value_height[]"></td>
                        <td width="10%"><select class="form-control" id="sel1" name="unit_dim[]"> <!--select trzeba zaczytać dane z tab JEDN z value z jedn_wym="X"-->
                                <option value="mm">mm</option>
                            </select></td>
                         <td width="7%"><input class="form-control" id="sum_DSW" name="value_capacit[]" value="0"></td>
                        <td width="8%" name="j_obj[]">cm3</td> <!-- zaadowanie do pola j_obj w tab MWYM-->
                        <td width="40%"><input type="text" class="form-control" id="ean_code" name="ean_code[]"></td>
                    </tr>

                    <tr class="OPA">
                        <td width="8%"><input type="text" class="form-control" name="unit_structure[]" id="unit_structure" value="OPA"></td> <!--tab MWYM pole unit_structure -->
                        <td width="8%"><input type="text" class="form-control" id="value_struct" name="value_struct[]" value="1"></td>
                        <td width="9%"><input type="text" class="form-control" id="weight_net" name="weight_net[]"></td>
                        <td width="9%"><input type="text" class="form-control" id="weight_gross" name="weight_gross[]"></td>
                        <td width="10%"><select class="form-control" id="sel1" name="unit_weight[]"> <!--select trzeba zaczytać dane z tab JEDN z value z jedn_wag="X"-->
                               {%  for unit in unit_weight %}
                                <option value="{{ unit.value }}">{{ unit.value }}</option>
                                {% endfor %}
                            </select></td>
                        <td width="8%"><input type="text" class="form-control" id="value_length" name="value_length[]"></td>
                        <td width="8%"><input type="text" class="form-control" id="value_width" name="value_width[]"></td>
                        <td width="8%"><input type="text" class="form-control" id="value_height" name="value_height[]"></td>
                        <td width="10%"><select class="form-control" id="sel1" name="unit_dim[]"> <!--select trzeba zaczytać dane z tab JEDN z value z jedn_wym="X"-->
                                <option value="mm">mm</option>
                            </select></td>
                        <td width="7%"><input class="form-control" id="sum_DSW" name="value_capacit[]" value="0"></td>
                        <td width="8%" name="j_obj[]">cm3</td> <!-- zaadowanie do pola j_obj w tab MWYM-->
                        <td width="40%"><input type="text" class="form-control" id="ean_code" name="ean_code[]"></td>
                    </tr>

                    <tr class="KAR">
                        <td width="8%"><input type="text" class="form-control" name="unit_structure[]" id="unit_structure" value="KAR"></td> <!--tab MWYM pole unit_structure -->
                        <td width="8%"><input type="text" class="form-control" id="value_struct" name="value_struct[]" value="1"></td>
                        <td width="9%"><input type="text" class="form-control" id="weight_net" name="weight_net[]"></td>
                        <td width="9%"><input type="text" class="form-control" id="weight_gross" name="weight_gross[]"></td>
                        <td width="10%"><select class="form-control" id="sel1" name="unit_weight[]"> <!--select trzeba zaczytać dane z tab JEDN z value z jedn_wag="X"-->
                                {%  for unit in unit_weight %}
                                <option value="{{ unit.value }}">{{ unit.value }}</option>
                                {% endfor %}
                            </select></td>
                        <td width="8%"><input type="text" class="form-control" id="value_length" name="value_length[]"></td>
                        <td width="8%"><input type="text" class="form-control" id="value_width" name="value_width[]"></td>
                        <td width="8%"><input type="text" class="form-control" id="value_height" name="value_height[]"></td>
                        <td width="10%"><select class="form-control" id="sel1" name="unit_dim[]"> <!--select trzeba zaczytać dane z tab JEDN z value z jedn_wym="X"-->
                                <option value="mm">mm</option>
                            </select></td>
                        <td width="7%"><input class="form-control" id="sum_DSW" name="value_capacit[]" value="0"></td>
                        <td width="8%" name="j_obj[]">cm3</td> <!-- zaadowanie do pola j_obj w tab MWYM-->
                        <td width="40%"><input type="text" class="form-control" id="ean_code" name="ean_code[]"></td>
                    </tr>

                    <tr class="PAL">
                        <td width="8%"><input type="text" class="form-control" name="unit_structure[]" id="unit_structure" value="PAL"></td> <!--tab MWYM pole unit_structure -->
                        <td width="8%"><input type="text" class="form-control" id="value_struct" name="value_struct[]" value="1"></td>
                        <td width="9%"><input type="text" class="form-control" id="weight_net" name="weight_net[]"></td>
                        <td width="9%"><input type="text" class="form-control" id="weight_gross" name="weight_gross[]"></td>
                        <td width="10%"><select class="form-control" id="sel1" name="unit_weight[]"> <!--select trzeba zaczytać dane z tab JEDN z value z jedn_wag="X"-->
                               {%  for unit in unit_weight %}
                                <option value="{{ unit.value }}">{{ unit.value }}</option>
                                {% endfor %}
                            </select></td>
                        <td width="8%"><input type="text" class="form-control" id="value_length" name="value_length[]"></td>
                        <td width="8%"><input type="text" class="form-control" id="value_width" name="value_width[]"></td>
                        <td width="8%"><input type="text" class="form-control" id="value_height" name="value_height[]"></td>
                        <td width="10%"><select class="form-control" id="sel1" name="unit_dim[]"> <!--select trzeba zaczytać dane z tab JEDN z value z jedn_wym="X"-->
                                <option value="mm">mm</option>
                            </select></td>
                          <td width="7%"><input class="form-control" id="sum_DSW" name="value_capacit[]" value="0"></td>
                        <td width="8%" name="j_obj[]">cm3</td> <!-- zaadowanie do pola j_obj w tab MWYM-->
                        <td width="40%"><input type="text" class="form-control" id="ean_code" name="ean_code[]"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <button type="button" class="btn btn-lg btn-default btn-back prev">Wstecz</button>
        <button type="button" class="btn btn-lg btn-default btn-forw" id="next">Dalej</button>
    </section>

    <section id="3">
        <!-- Progressbar -->
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="sr-only">60% Complete</span></div>
        </div>

        <!-- Informacje dodatkowe -->
        <div class="row">
            <div class="page-header">
                <h3>Informacja dodatkowe:</h3>
            </div>

            <div class="col-md-6">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>Grupa załadunkowa w magazynie:</td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="load_group" name="load_group"> <!-- TAB: INDK  gr_zalad select? -->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Kod PKWIU:</td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="kod_pkwiu" name="pkwiu_code"> <!-- TAB: INDK  kod_pkwiu input ale select z PKWI -->
                            </div></td>
                    </tr>
                    <tr>
                        <td>Opis PKWIU:</td>
                        <td id="desc_code_pkwiu"></td> <!-- opis zaczytany na bazie selecta pkwui_kod z tab PKWI -->
                    </tr>
                    <tr>
                        <td>Stawka VAT</td>
                        <td><div class="form-group">
                                <input type="text" class="form-control" id="vat" name="tax"> <!-- TAB: INDK  vat input-->
                            </div></td>
                    </tr>
                    <tr>
                        <td>Numer hierarchii produktowej:</td> <!-- tu nie wiem czy tego nie wyjebac-->
                        <td>Numer prod_hier</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6">

                  <label for="fileToUpload">Wybierz zdjęcie</label><br />
                  <input type="file" name="filesToUpload" id="filesToUpload" />
                  <output id="filesInfo"></output>

            </div>

        </div>
        <button type="button" class="btn btn-lg btn-default btn-back prev">Wstecz</button>
        <button type="button" class="btn btn-lg btn-default btn-forw" id="next">Dalej</button>
    </section>

    <section id="4">
        <!-- Progressbar -->
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="sr-only">80% Complete</span></div>
        </div>
        <!-- Dostawca -->
        <div class="row">
            <div class="page-header">
                <h3>Wybierz Dostawcę:</h3>
            </div>

            <select class="form-control" name="select_vend" style="width: 50%;"> <!--tab MWYM pole unit_structure -->

                {% for dostawca in dost %}
                <option value="{{ dostawca.id_vend }}">{{ dostawca.vend_name }}</option>
                {% endfor %}

            </select>

            <div class="col-md-6">

                <label>Brak dostawcy na liście</label>
                <input type="checkbox" class="empty_vend" name="empty_vend">

                <table class="table table-bordered vend">
                    <tbody>
                    <tr>
                        <td>Nazwa dostawcy</td>
                        <td><input type="text" class="form-control" id="dost_nazw" name="vend_name"></td> <!-- tab. DOST -->
                    </tr>
                    <tr>
                        <td>Adres dostawcy</td>
                        <td><input type="text" class="form-control" id="dost_adres" name="vend_adress"> </td>
                    </tr>
                    <tr>
                        <td>Kod pocztowy</td>
                        <td> <input type="text" class="form-control" id="dost_kod" name="vend_code"></td>
                    </tr>
                    <tr>
                        <td>Miasto</td>
                        <td><input type="text" class="form-control" id="dost_miasto" name="vend_city"></td>
                    </tr>
                    <tr>
                        <td>NIP</td>
                        <td><input type="text" class="form-control" id="dost_nip" name="vend_tax"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Dostawca zwroty-->
        <div class="row">
            <div class="page-header">
                <h3>Dostawca zwroty:</h3>
            </div>

             <select class="form-control" name="select_vend_refund" style="width: 50%;"> <!--tab MWYM pole unit_structure -->

                {% for dostawca in dost_zwrot %}
                <option value="{{ dostawca.id_vendrefund }}">{{ dostawca.vendrefund_name }}</option>
                {% endfor %}

            </select>


            <div class="col-md-6">

                <label>Brak dostawcy na liście</label>
                <input type="checkbox" class="empty_vend_refund" name="empty_vend_refund">

                <table class="table table-bordered vend_refund">
                    <tbody>
                    <tr>
                        <td>Nazwa dostawcy</td>
                        <td><input type="text" class="form-control" id="dostzwr_name" name="vendrefund_name"></td> <!-- dostzwr-->
                    </tr>
                    <tr>
                        <td>Adres dostawcy</td>
                        <td><input type="text" class="form-control" id="dostzwr_adres" name="vendrefund_adress"> </td>
                    </tr>
                    <tr>
                        <td>Kod pocztowy</td>
                        <td> <input type="text" class="form-control" id="dostzwr_kod" name="vendrefund_code"></td>
                    </tr>
                    <tr>
                        <td>Miasto</td>
                        <td><input type="text" class="form-control" id="dostzwr_miasto" name="vendrefund_city"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    <button type="button" class="btn btn-lg btn-default btn-back prev">Wstecz</button>
    <button type="submit" class="btn btn-lg btn-default btn-end">Zakończ</button>
        <!-- Zakonczenie spowoduje przejscie do podstrony wyswietlania produktu -->
    </section>
    </form>
{% endblock %}

{% block javascript %}
        <script>
                $( function() {
            var availableTags = [
              {% for pkwi in pkwiu %}
              "{{ pkwi.pkwiu_code|raw|trim(' ','right') }}",
              {% endfor %}
            ];
            $( "#kod_pkwiu" ).autocomplete({
              source: availableTags
            });
            desc('kod_pkwiu');
          } );
                function desc(id) {
                  $("#kod_pkwiu").on('change',function() {
                       var code =  $( "#kod_pkwiu" ).val();
                       {% for pkwi in pkwiu %}
                        var code_pkwi = {{ pkwi.pkwiu_code|raw|trim(' ','right') }};
                               if(code_pkwi == code)
                               {
                                   $('#desc_code_pkwiu').html("{{ pkwi.pkwiu_descr|raw|trim(' ','right') }}");
                               }
                      {% endfor %}
                    });
                }


            $( function() {
                var load_group = [
                  {% for load_groups in load_group %}
                  "{{ load_groups.load_group|raw|trim(' ','right') }}",
                  {% endfor %}
                ];
                $( "#load_group" ).autocomplete({
                  source: load_group

                });
          } );


                 $( function() {
                var gr_tow = [
                 {% for gr_towa in gr_tow %}
                  "{{ gr_towa.prod_hier|raw|trim(' ','right') }}",
                  {% endfor %}
                ];
                $( "#gr_tow" ).autocomplete({
                  source: gr_tow
                });
                desc_gr_tow()
          } );

                function desc_gr_tow() {
                  $("#gr_tow").on('change',function() {
                       var code =  $( "#gr_tow" ).val();
                       {% for gr_towa in gr_tow %}
                        var group = "{{ gr_towa.prod_hier|raw|trim(' ','right') }}";
                               if(group == code)
                               {
                                   $('#gr_tow_desc').val("{{ gr_towa.prod_descr|raw|trim(' ','right') }}");
                               }
                      {% endfor %}
                    });
                }

        </script>
{% endblock %}