{% extends "admin/include/include.twig" %}

{% block body %}

    <div class="container theme-showcase" role="main">
        <!-- Szary Panel -->
        <div class="jumbotron">
            <h2>Zamówienie</h2> <!--do wladowania numer produktu -->
        </div>
        <form method="post" action ="{{ base_url() }}admin/order/order">

            {% autoescape %}
                {{ validation|raw }}
            {% endautoescape %}

            <div class="page-header">
                <h3>Numer:</h3>
            </div>

            <input type="text" class="form-control" name="nr_docum" value="{{ 1 }}" style="width: 10%;">

            <div class="page-header">
                <h3>Typ dokumentu:</h3>
            </div>

            <select class="form-control" name="docum_type" value="{{ 2 }}" style="width: 10%;"> <!--tab MWYM pole unit_structure -->
                    <option value="PZ">PZ</option>
            </select>

            <div class="page-header">
                <h3>Wybierz Dostawcę:</h3>
            </div>

            <select class="form-control" name="vend_name" value="{{ 3 }}" style="width: 10%;"> <!--tab MWYM pole unit_structure -->

                {% for dostawca in dost %}
                    <option value="{{ dostawca.id_vend }}">{{ dostawca.vend_name }}</option>
                {% endfor %}

            </select>

            <div class="page-header">
                <h3>Nazwa dokumentu:</h3>
            </div>

            <input type="text" class="form-control" name="docum_desc" value="{{ 4 }}" style="width: 30%;">



            <button type="submit" class="btn btn-lg btn-default btn-end">Dalej</button>
        </form>
        <nav aria-label="Page navigation example">
        {{ links|raw }}
        </nav>
{#        <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">{{ links|raw }}</li>
        </ul>
        </nav>#}

    </div>
{% endblock %}

